/PSAA/zad1_LABS1/target/
/PSAA/zad1_LABS3/target/
/PSAA/zad2_LABS3/target/
/PSAA/zad3_LABS2/target/
/PSAA/zad2_LABS2/target/
/PSAA/zad1_LABS2/target/
/PSAA/Lab2/zad3_LABS2/target/
/PSAA/Lab2/zad2_LABS2_DEBUG/target/
/PSAA/Lab2/zad1_LABS2/target/
/PSAA/Lab4/zad1_LABS4/target/
